<% if current_user %>
  <div class="small-3 columns left-align">
    <div class="callout" id="index-title">
      <strong>Upcoming Volunteer Sessions</strong>
    </div>
    <% @volunteer_sessions.each do |volunteer_session| %>
    <% if current_user == volunteer_session.user %>
      <% shelter = Shelter.find(volunteer_session.shelter_id) %>
        <div class="callout" id="index-callout">
          <strong><%= link_to shelter.name, shelter_path(shelter), id: "inverse-link" %></strong><br>
          <%= volunteer_session.date %> from <%= volunteer_session.time %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
