<div class="orbit" role="region" aria-label="Animal Photos" data-orbit>
  <ul class="orbit-container">
    <li class="is-active orbit-slide">
      <img class="orbit-image" src="http://i.imgur.com/Hphi4fM.jpg">
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="http://i.imgur.com/IRpn6rDr.jpg">
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="http://i.imgur.com/28pCUxS.jpg">
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="http://i.imgur.com/DKv26qO.jpg">
    </li>
  </ul>
</div>
