<h2>Sign Up</h2>

<form action="role">
  <input type="radio" name="role" value="volunteer" id="volunteer"> Volunteer
  <input type="radio" name="role" value="shelter" id="shelter"> Rescue/Shelter
</form>

<% if params[:id] == 'volunteer' %>
  <%= render 'volunteer' %>
<% else  params[:id] == 'shelter'%>
  <%= render 'shelter' %>
<% end %>
