<div class="callout" id="non-home-pages">
  <%= form_for [@shelter, @volunteer_session] do |f| %>

    <div class="field">
      <% f.label :date %>
      <%= f.date_field(:date) %>
    </div>

    <div class="field">
      <% f.label :time %>
      <%= f.select(:time, options_for_select(@times)) %>
    </div>

    <div>
      <%= f.submit "Submit", class: "button small" %>
    </div>
  <% end %>
</div>
