<div>
  <%= form_tag(root_path, method: "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Shelters by Zip Code", class: "search" %>
    <%= submit_tag "Search" %>
  <% end %>
</div>
